<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.less' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
<h1>{{title}}</h1>
<p>
    Welcome to {{title}} <a href="#">test link</a>.
</p>
<div ng-app>
</div>
</body>
</html>